.audio-tracklist-container {
  margin-top: 5%;
}

.audio-tracklist-container > * {
  margin-bottom: 60px;
}

.action-link,
.library-item {
  cursor: pointer;
  margin-bottom: 7px;
  color: var(--lightItem);
}

.action-link:hover,
.library-item:hover {
  color: var(--hoverItem);
}
