rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /userSongs/{allPaths=**} {
        allow create;
    }
    match /userGifs/{allPaths=**} {
        allow create;
    }
    match /{allPaths=**} {
      allow read;
    }
  }
}