.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 450px;
  height: 173.55px;
}

.metamask-button > img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
