.widget-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 400px;
  /* height: 210px; */
}

.metamask-button > img {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 400px;
  height: 210px;
}
