.leaderboard-container {
  display: flex;
  flex-direction: column;
}

.leaderboard-name,
.leaderboard-score {
  width: 100px;
  /* border: 1px dashed black; */
  padding: 5px;
  background: white;
  display: flex;
}
.leaderboard-medal {
  margin-left: 10px;
}
