.widget-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  cursor: move;
  border: 1px solid black;
  background-color: white;
  height: 400px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}
